<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
    <div class="top-bar">
        <h1 class="title">Live Expedition</h1>
        <div class="dropdown-container">
            <div class="top-right-dropdown">
                <!--On click change the hidden elements to show-->
                <button onclick="toggleDropdown()">{{ first_name or username }}</button>
                <div id="dropdown" class="dropdown-content">
                    <!--The profile button is a redirect link, and the logout button POSTs a logout request to run a logout python function-->
                    <a class="dropdown-link">Profile</a>
                    <form id="logout-form" method="POST" action="">
                        <button type="submit" class="dropdown-link">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="sidebar" id="sidebar">
        <!--Button to toggle the sidebar-->
        <button class="toggle_button" id="toggle_sidebar"><i class="fas fa-bars"></i></button>
        <!--DofE Journey Planner Logo-->
        <div class="logo_container" id="logo">
            <div class="logo_inner">
                <img id="main_logo" src="{{ url_for('static', filename='images/bigLogo.png') }}" style="width:215px;height:100px;">
            </div>
        </div>
        <div class="line"></div>
        <div class="line-vertical"></div>
        <!-- Navigation Panel-->
        <div class="sidebar_links">
            <div class="dropdownClasses">
                <i class="fas fa-exchange-alt"></i>
                <span class="link-text" id="changeClass">{{ selectedClass or 'Change Class' }}</span>
                <br>
                <div class="dropdown-contentClasses">
                    {% if classes is not none %}
                        {% for class in classes %}
                            <a href="#" onclick="switchClass('{{ class[0] }}', '{{ class[1] }}')">{{ class[0] }}</a>
                        {% endfor %}
                    {% else %}
                        <a href="#">No classes available</a>
                    {% endif %}
                </div>                
            </div>
            <a href="/view-class" onclick="redirect()">
                <i class="fas fa-eye"></i>
                <span class="link-text" id="viewClass">View Class</span>
            </a>

            <a class="current_page" chref="#">
                <i class="fas fa-map-marker-alt"></i>
                <span class="link-text" id="liveExpedition">Live Expedition</span>
            </a>

            <a href="/start-expedition" onclick="redirect()">
                <i class="fas fa-play"></i>
                <span class="link-text" id="startExpedition">Start Expedition</span>
            </a>

            <a href="/expedition-history" onclick="redirect()">
                <i class="fas fa-history"></i>
                <span class="link-text" id="expeditionHistory">Expedition History</span>
            </a>  

            <a href="/pair-tracker" onclick="redirect()">
                <i class="fas fa-sync-alt"></i>
                <span class="link-text" id="pairTracker">Pair Tracker</span>
            </a>  

            <a href="/create-class" onclick="redirect()">
                <i class="fas fa-chalkboard-teacher"></i>
                <span class="link-text" id="createClass">Create Class</span>
            </a> 
        </div>
    </div>

    <form id="classForm" method="POST" action="/select-class" style="display: none;">
        <input type="hidden" name="selected_class" id="selectedClass">
        <input type="hidden" name="selected_ID" id="selectedID">
    </form>

    <div class="content">
        <h1>Real-Time OS Map</h1>
    <div id="map"></div>

    <div id="expedition-stats">
        <p id="elapsed-time">Elapsed Time: Not Available</p>
        <p id="distance-walked">Distance Walked: Not Available</p>
        <p id="average-pace">Average Pace: Not Available</p>
        <p id="last-updated">Last Updated: Not Available</p>
    </div><br>

    <h2>{{ message or '' }}</h2>

    <form id="coordinate-form" style="display: none;">
        <input type="number" id="latitude" placeholder="Latitude" required step="any">
        <input type="number" id="longitude" placeholder="Longitude" required step="any">
        <button type="submit">Add Coordinate</button>
    </form>    
    </div>

<script>
     //If the sidebar is collapsed from previous page, then collapse it on this page as well.
    if (localStorage.getItem("IsCollapsed") === "true") {
        var sidebar = document.getElementById("sidebar");
        var content = document.querySelector('.content');
        var sidebar_button = document.getElementById("toggle_sidebar");
        sidebar.classList.add("closed");
        content.classList.add("shifted");
        sidebar_button.classList.add("closed");
        setTimeout(update_elements, 0);
    }
    function toggleDropdown() {
        document.getElementById("dropdown").classList.toggle("show");
    }
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
        if (!event.target.closest('.top-right-dropdown')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            for (var i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
    //Determines if the sidebar is closed/open and updates the elements accordingly
    document.getElementById("toggle_sidebar").onclick = function() {
        var sidebar = document.getElementById("sidebar");
        var content = document.querySelector('.content');
        var sidebar_button = document.getElementById("toggle_sidebar");

        if (sidebar.classList.contains("closed")) {
            sidebar.classList.remove("closed");
            content.classList.remove("shifted");
            sidebar_button.classList.remove("closed"); 
            setTimeout(revert_update, 150);
            localStorage.setItem("IsCollapsed", false);
        } else {
            sidebar.classList.add("closed");
            content.classList.add("shifted");
            sidebar_button.classList.add("closed");
            setTimeout(update_elements, 0);
            localStorage.setItem("IsCollapsed", true);

        }
    }
    //Updates the elements to fit the collapsed sidebar
    function update_elements() {
        var mainLogo = document.getElementById("main_logo");
        var logoContainer = document.getElementById("logo");
        var sidebar_button = document.getElementById("toggle_sidebar");
        var content = document.querySelector(".content"); 
        var title = document.querySelector(".title");
        mainLogo.src = "{{ url_for('static', filename='images/smallLogo.png') }}";
        mainLogo.style.width = "65px";
        mainLogo.style.height = "90px";
        logoContainer.style.marginTop = '0px';
        logoContainer.style.marginLeft = '5px';
        content.style.paddingLeft = '90px';
        title.style.left = '180px';
        title.style.transition = 'left 0.5s ease';
        document.getElementById("changeClass").innerHTML = "";
        document.getElementById("viewClass").innerHTML = "";
        document.getElementById("startExpedition").innerHTML = "";
        document.getElementById("expeditionHistory").innerHTML = "";
        document.getElementById("liveExpedition").innerHTML = "";
        document.getElementById("pairTracker").innerHTML = "";
        document.getElementById("createClass").innerHTML = "";

        
    }

    function revert_update() {
        var mainLogo = document.getElementById("main_logo");
        var logoContainer = document.getElementById("logo");
        var sidebar_button = document.getElementById("toggle_sidebar");
        var content = document.querySelector(".content"); 
        var title = document.querySelector(".title");

        mainLogo.src = "{{ url_for('static', filename='images/bigLogo.png') }}";
        mainLogo.style.width = "215px";
        mainLogo.style.height = "100px";
        logoContainer.style.marginTop = '-20px';
        logoContainer.style.marginLeft = '0px';
        content.style.paddingLeft = '260px';
        title.style.left = '380px';
        title.style.transition = 'left 0.5s ease'; 
        document.getElementById("changeClass").innerHTML = "Change Class";
        document.getElementById("viewClass").innerHTML = "View Class";
        document.getElementById("startExpedition").innerHTML = "Start Expedition";
        document.getElementById("expeditionHistory").innerHTML = "Expedition History";
        document.getElementById("liveExpedition").innerHTML = "Live Expedition";
        document.getElementById("pairTracker").innerHTML = "Pair Tracker";
        document.getElementById("createClass").innerHTML = "Create Class";

    }

    
    function switchClass(selectedClass, selectedID) {
        document.getElementById('selectedClass').value = selectedClass;
        document.getElementById('selectedID').value = selectedID
        document.getElementById('classForm').submit();
    }
</script>
<!-- Leaflet JS Library -->
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
<script>

    // Icon to represent stops
    const pinIcon = L.icon({
        iconUrl: 'https://i.ibb.co/SRjz0fR/map-marker.png',
        iconSize: [32, 32], 
        iconAnchor: [16, 32], 
        popupAnchor: [0, -32]
    });

    // Icon to represent users current location
    const userIcon = L.icon({
        iconUrl: 'https://i.ibb.co/BtJzXmS/blue-circle-round-3d-button-3.png',
        iconSize: [32, 32],
        iconAnchor: [16, 32], 
        popupAnchor: [0, -32]
    });

    const map = L.map('map').setView([51.505, -0.09], 13); 
    const socket = io();

    // Add OpenStreetMap tiles
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Store the polyline for the route
    let polyline = L.polyline([], { color: 'blue' }).addTo(map);

    // Array to store all markers
    let markers = [];

    function updateMap(latitude, longitude, type) {
        if (type === 'Stops') {
            // Place a marker only if the type is 'Stops'
            let newMarker = L.marker([latitude, longitude], { icon: pinIcon }).addTo(map);
            markers.push(newMarker); // Add the marker to the markers array
        } else if (type === 'TrackerData') {
            // Add the new coordinates to the polyline only for 'TrackerData'
            polyline.addLatLng([latitude, longitude]);
        } else if (type === 'userLocation') {
            // Add the new coordinates to the polyline only for 'TrackerData'
            let newMarker = L.marker([latitude, longitude], { icon: userIcon }).addTo(map);
            markers.push(newMarker)
        }
    }



    // Function to clear the polyline and remove all markers
    function clearPolyline() {
        polyline.setLatLngs([]); 
        markers.forEach(marker => marker.remove());
        markers = [];
    }

    function formatElapsedTime(seconds) {
        const hours = Math.floor(seconds / 3600);
        const minutes = Math.floor((seconds % 3600) / 60);
        const secs = seconds % 60;
        return `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${secs.toString().padStart(2, '0')}`;
    }


    // Listen for the 'location_update' event from the server
    socket.on('location_update', function(data) {
        if (Array.isArray(data.coordinates)) {
            clearPolyline();
            data.coordinates.forEach(coord => {
                updateMap(coord.lat, coord.lng, coord.type);  
            });
        } else {
            console.error("Invalid data format. Expected an array of coordinates.");
        }
        if (Array.isArray(data.expeditionStats) && data.expeditionStats.length > 0) {
            const stats = data.expeditionStats[0]; 
            const elapsedTime = formatElapsedTime(stats[2]); 
            const distanceWalked = `${stats[3].toFixed(2)} m`;
            const averagePace = `${stats[4].toFixed(2)} m/s`; 

            // Update the HTML content
            document.getElementById('elapsed-time').textContent = `Elapsed Time: ${elapsedTime}`;
            document.getElementById('distance-walked').textContent = `Distance Walked: ${distanceWalked}`;
            document.getElementById('average-pace').textContent = `Average Pace: ${averagePace}`;
        } else {
            console.warn("Expedition stats data is empty or not available.");
        } 
        if (data.timeDifference){
            const finalTimeDiff = formatElapsedTime(data.timeDifference)
            document.getElementById('last-updated').textContent = `Last Updated: ${finalTimeDiff}`;
        }
    });

    // Handle form submission to send coordinates to the server
    function submitForm() {
        const lat = parseFloat(document.getElementById('latitude').value);
        const lng = parseFloat(document.getElementById('longitude').value);
        socket.emit('new_coordinate', { lat: lat, lng: lng });
        document.getElementById('coordinate-form').reset(); // Reset the form
    }

    document.getElementById('coordinate-form').onsubmit = function(event) {
        event.preventDefault();
        submitForm();
    };

    setInterval(function() {
        submitForm();
    }, 1000);

</script>
</body>
</html>
